@model IEnumerable<Aula_P1.Models.Search>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Search</h1>

<p>
    <a asp-action="Create">Adicionar Curso</a>
</p>

<p>  
    @using (Html.BeginForm("Search", "CursosController", FormMethod.Post))
    {
        
    }
</p>



