@model IEnumerable<Aula_P1.Models.Search>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Search</h1>

<p>  
    <form method="post">
        <label for="textoAPesquisar">Pesquisa de Cursos</label>
        <input type="text" name="textoAPesquisar" id="textoAPesquisar" placeholder="Curso a pesquisar">
        <input type="submit" value="Search">
    </form>
</p>



